{% extends '::layout.html.twig' %}

{% block body %}
<div style="width:800px;margin: auto;">
{{ form_start(edit_form, { 'attr': {'class': 'pure-form pure-form-stacked'}}) }}
   
        <fieldset>
        <legend style="text-align:center">EDITER MON NEWSLINK</legend>
		<div>Article lié : {{ entity.article.titre }} : {{ entity.id }}</div>
	    <div>
	        {{ form_label(edit_form.titre) }}
	        {{ form_errors(edit_form.titre) }}
	        {{ form_widget(edit_form.titre, { 'attr': {'style': 'width:200px'} }) }}
	    </div>
	
	    <div>
	        {{ form_label(edit_form.url) }}
	        {{ form_errors(edit_form.url) }}
	        {{ form_widget(edit_form.url, { 'attr': {'style': 'width:200px'} }) }}
	    </div>
		<br>


    
{{ form_end(edit_form) }}
 	<div>
        <input style="float:left;margin-right:10px;" type="submit" value="Enregistrer mes changements" class="btn btn-success" />
        {{ form(delete_form) }}
    </div>

    </fieldset>
   
</form>

</div>

{% endblock %}
